*{
    margin: 0;
    padding: 0;
    
}

nav{
    background-color: black;
    color: white;
    padding: 15px;
    
}

ul,li,h1{
    display: inline;
}

ul{
    margin-left: 60%;
}

li{
    margin-left: 10px;
    color: gray;
    cursor: pointer;
}

li:hover{
    color: white;
}

input{
    width: 600px;
    height: 20px;
    padding: 10px;
    
}
.Search_bar{
    text-align: center;
    padding-top: 50px;


}

.box{
    border-style: solid;
    border-width: 3px;
    border-color: black;
    display: inline-block;
    width:200px;
    
    
}

.Products{
    padding: 50px;
    text-align: center;   
}

.box:hover{
    background-color: black;
    color: white;
    transition-duration: 0.5s;
}

.about{
    text-align: center;

}

.Contact{
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
}



div{
    background:green;
    color: black;
    padding: 10px;
    margin: auto;
}

.one{
    background: rgb(4, 4, 4);
    color: yellow;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

.Two{
    background: rgb(201, 196, 196);
    padding: 50px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    margin: 20px;
}

*{
    padding: 0;
    margin: 0;

}

body {
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: darkslategray;
}

.Title_bar{
    text-align: center;
    padding: 10px;
    margin-top: 15px;
}   

div{
    margin: 10px;
    justify-content: space-between;
}

img{
    margin: 1px;
}

.parent{
    background-color: black;
    display: flex;
    width: 400px;
    height: 600px;
    flex-direction: column;
    justify-content: space-evenly;
}

div{
    background-color: yellow;
    border-radius: 5px;
    margin: 5px;
    
}

.container{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;


}
.one{
    background-color: greenyellow;
    height: 100px;
    margin: 2px;
    flex-basis: 100%;
    
    
}

.two{
    background-color: blue;
    height: 200px;
    margin: 2px;
    flex-basis: 30%;
    flex-grow: 1;
}

.three{
    background-color: grey;
    height: 100px;
    margin: 2px;
    flex-basis: 20%;
    flex-grow: 1;
<<<<<<< HEAD
    font-size: large;
=======
>>>>>>> 6ca34bbe4dbf65d9a714ef1e01525c784cdaf7a9
    
}

@media screen and (max-width: 600px) {
    .two{
        flex-basis: 100%;
    }
    .three{
        flex-basis: 40%;
    }
    
}

@media screen and (max-width: 400px) {
    .three{
        flex-basis: 100%;
    }
    
}

.container{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;


}
.one{
    background-color: greenyellow;
    height: 100px;
    margin: 2px;
    flex-basis: 100%;
    
    
}

.two{
    background-color: blue;
    height: 200px;
    margin: 2px;
    flex-basis: 30%;
    flex-grow: 1;
}

.three{
    background-color: grey;
    height: 100px;
    margin: 2px;
    flex-basis: 20%;
    flex-grow: 1;
    
}

@media screen and (max-width: 600px) {
    .two{
        flex-basis: 100%;
    }
    .three{
        flex-basis: 40%;
    }
    
}

@media screen and (max-width: 400px) {
    .three{
        flex-basis: 100%;
    }
    
}